.overlay { opacity: .9; }
.parallex { background-image: url("../../assets/background.jpg"); }

.black {
    color: white;
    background-color: black;
    text-align: center;
}

$break-small: 320px;
$break-large: 1200px;

.logo {
    @media screen and (max-width:$break-small) {
        height: 125px;
        width: 135px;
    }
    @media screen and (min-width: $break-large){
        height: 250px;
        width: 250px;
    }
}