@mixin white-back() {
    background-color: #fff;
    color: black;
    box-shadow: 0 2px 5px 0 rgba(0,0,0,0.16), 0 2px 10px 0 rgba(0,0,0,0.12)
}
a {
    line-height: 1.8;
    font-size: 1.5em;
}
.top {
    position: fixed;;
    top: 0px;
    width: 100%;
    z-index: 1;
}
.bar {
    width: 100%;
    overflow: hidden;
    color:#777;
}
.hidden {
    display: none;
}
.white-back {
    @include white-back();
}
.nav-trans {
    position: relative;
    animation: animatetop .4s
}
.nav-item {
    float: left;
    width: auto;
    padding: 8px 16px;
    border: none;
    outline: none;
    display: block;
}
.nav-button {
    text-decoration: none;
    cursor: pointer;
    text-align: center;
    vertical-align: middle;
    overflow: hidden;
}
.nav-item-block {
    @extend .nav-item;
    float: none;
    width: 100%;
    text-align: left;
    white-space: normal;
}
.small-nav-item-class {
    @extend .nav-item-block;
    @extend .nav-button; 
    @extend .hide-med-up;
}
.nav-item-class {
    @extend .nav-item;
    @extend .nav-button;
    @extend .hide-small-down;
}
.nav-bar-class {
    @extend .bar;
}
@media (min-width: 601px){
    .hide-med-up {
        display: none;
    }
}
@media (max-width: 600px) {
    .hide-small-down {
        display: none;
    }
    .nav-bar-class {
        @include white-back();
    }
}
@keyframes animatetop {
    0%{
        top: -300px;
        opacity: 0;
    }
    100%{
        top: 0;
        opacity: 1;
    }
}