h3 { font-size: 2rem; }
p { font-size: 1.5rem; }
a {font-size: 1.5rem; }
.font { font-weight: 500; }
.center { text-align: center; }
.link-container{ text-align: center; }
.flex-item { width: auto; }
.content {
    max-width: 980px;
    margin: auto;
}
.img-center{
    display: block;
    margin: 0 auto;
}
.container {
    margin: 2rem 0;
    padding: 3em 1rem;
}
.parallex {
    min-height: 350px;
    background-color: tomato;
}
.flex-container-row {
    display: flex;
    flex-flow: row wrap;
    padding: 0 0 0 0;
    margin: 0 0 1rem 0;
    flex:1;
}
.flex-container-col {
    display: flex;
    flex-flow: column;
    padding: 0 4rem 0 4rem;
    margin: 0 0 1rem 0;
    flex:1; 
    justify-content: center;
    align-items: center;   
}

$break-large: 1320px;
$break-medium: 900px;
$break-small: 600px;
$break-xsmall: 400px;

.flex-container-row {
    @media screen and (max-width:$break-large) {
        flex-flow: column;
    }
}
.flex-container-col {
    @media (min-width: $break-medium) and (max-width: $break-large) {
        padding: 0 5rem 0 5rem;
    }
    @media (min-width: $break-large) {
        padding: 0 3rem 0 3rem;
    }
    @media (min-width: $break-xsmall) and (max-width: $break-small) {
        padding: 0 1.5rem 0 1.5rem;
    }
    @media screen and (max-width: $break-small){
        padding: 0 1rem 0 1rem;
    }
}
.candid { 
    padding: 0 0 0 0;
    @media screen and (max-width: $break-small){
        padding: 0 1rem 0 1rem;
    }
 }