h3 { font-size: 2rem; }
p { font-size: 1.5rem; }
.font { font-weight: 500; }
.overlay { opacity: .8; }
.white-space { white-space: nowrap; }
.padding { padding: 1rem 1.5rem; }

.content {
    max-width: 980px;
    margin: auto;
}

.center { text-align: center; }

.img {
    max-width: 100%;
    height:auto;
}
.img-center{
    display: block;
    margin: 0 auto;
}

.container {
    position: relative;
    margin: 2rem 0;
    padding: 3em 1rem;
}

.parallex {
    min-height: 350px;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-color: tomato;
}

.center {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.white-text {
    color: white;
    text-align: center;
}

.large-center-text {
    font-size: 3rem;
    letter-spacing: 1rem;
}

.flex-container-row {
    display: flex;
    flex-flow: row wrap;
    padding: 0 0 0 0;
    margin: 0 0 1rem 0;
    flex:1;
}

.flex-container-col {
    display: flex;
    flex-flow: column;
    padding: 0 1rem 0 1rem;
    margin: 0 0 1rem 0;
    flex:1; 
    justify-content: center;
    align-items: center;   
}

.flex-item {  margin-top: 1rem; }
.link-container{ text-align: center; }

$break-large: 1320px;

.flex-container-row {
    @media screen and (max-width:$break-large) {
        flex-flow: column;
    }
}