.padding{ padding: 1rem 1.5rem; }
.overlay { opacity: .8; }

.container {
    position: relative;
    margin: 2rem 0;
    padding: 3rem 1rem;
}

.parallex {
    background-attachment: fixed;
    background-color: lightseagreen;
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 350px;
}

.center {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.white-text {
    color: white;
    text-align: center;
}

.text-large {
    font-size: 3rem;
    letter-spacing: 1rem;
}

.flex-container {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
    align-content: space-between;
    padding: 0;
    margin: 0;
    flex:1;
}

.flex-item { 
    margin-top: 1rem;
    width: 300px;
}

.img {
    max-width: 100%;
    height: auto;
}

$break-small: 320px;

.flex-item {
    @media screen and (max-width: $break-small) {
        width: 150px;
    }
}