.container {
    margin: 2rem 0;
    padding: 3rem 1rem;
}
.parallex {
    background-color: lightseagreen;
    min-height: 350px;
}

$break-small: 320px;
$break-medium: 600px;

.flex-item {
    @media screen and (max-width: $break-small) {
        width: 150px;
    }
}

.hide-small {
    @media screen and (max-width: $break-medium) {
        display: none;
    }
}